.partnersGrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
    width: 100%;

    @media (width >=768px) {
        gap: 1.5rem 2rem;
    }

    .partnersGridItem {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex: 0 0 calc(33.33% - 1rem);

        @media (width >=768px) {
            flex: 0 0 calc(25% - 2rem);
            padding: 1.5rem;
        }

        @media (width >=1024px) {
            flex: 0 0 calc(20% - 2rem);
        }
    }
}