.banner {
    position: relative;
    border-radius: 0 0 1.5rem 1.5rem;

    @media (width >= 576px) {
        border-radius: 0 0 3rem 3rem;
    }

    @media (width >=1024px) {
        border-radius: 0 0 5rem 5rem;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: var(--mobileHeaderHeight);
        background: linear-gradient(to bottom, rgba(var(--darkRgb), 1), transparent);

        @media (width >=1024px) {
            height: var(--headerHeight);
        }
    }

    h1 {
        max-width: 55rem;
    }

    p {
        max-width: 55rem;
    }

    .bannerGradient {
        position: absolute;
        opacity: 0.85;
        z-index: -1;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        cursor: none;
        pointer-events: none;
        user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-touch-callout: none;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -ms-user-drag: none;

        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            inset: 0;
            margin: auto;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(0.25rem);
        }
    }
}