.partnersCarousel {
    .splide__track {
        overflow: visible !important;
    }
}

.partnersCarouselItem {
    overflow: hidden;
    border-radius: var(--borderRadius);
    box-shadow: 2px 4px 40px 0 rgba(var(--darkRgb), 0.15);

    a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 3rem;
        position: relative;
        transition: var(--ease);

        .imageContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            transition: var(--ease);

            img {
                width: 90%;
                height: 90%;
                object-fit: contain;
            }
        }

        .buttonTitle {
            display: flex;
            align-items: center;
            gap: 0.25rem;
            background: transparent;
            border: none;
            box-shadow: none;
            position: absolute;
            z-index: 1;
            cursor: pointer;
            color: inherit;
            font-family: var(--text);
            opacity: 0;
            visibility: hidden;
            bottom: 0;
            padding-bottom: 0.5rem;
            transition: var(--ease);

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 0.875rem;
                height: 0.875rem;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1.5px;
                background: var(--dark);
                filter: invert(1);
                transition: var(--ease);
            }

            &:hover {
                &::before {
                    width: 0;
                    right: 0;
                    left: unset;
                }
            }
        }

        &:hover {
            .imageContainer {
                transform: translateY(-1rem);
            }

            .buttonTitle {
                bottom: 3rem;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}