.textCarouselTrack {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.textCarouselItem {
    font-family: var(--heading);
    font-weight: 800;
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--dark);
    min-width: max-content;
    white-space: nowrap;
    opacity: 0.2;

    @media (width >=768px) {
        font-size: 7.5rem;
    }
}