.reviewLogos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.reviewLogo {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;
    padding: 0.33rem;
    background: rgba(var(--lightRgb), 0.05);
    border-radius: 0.5rem;
    border: 1px solid rgba(var(--lightRgb), 0.1);

    @media (width >=576px) {
        padding: 0.66rem;
        gap: 0.33rem;
    }

    @media (width >=1200px) {
        padding: 0.875rem;
        gap: 0.5rem;
    }

    @media all {
        font-size: 0.75rem;
    }

    .reviewLogoHeader {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.25rem;

        .reviewLogoIcon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 1.5rem;
            height: 1.5rem;
            flex-shrink: 0;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}