// Gradient Animation
.gradientAnimation {
    background: linear-gradient(to right, var(--primary), var(--accent), #4154FF);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-right: 2px;

    @media (width >=1024px) {
        animation: gradientAnimation 7.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
    }

    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }
    }
}

.textLink {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    transition: var(--ease);

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0.875rem;
        height: 0.875rem;
        color: var(--accent);
        transition: var(--ease);
    }

    &:hover {
        color: var(--light);

        .icon {
            transform: translateX(0.15rem);
        }
    }
}