// Gradient Animation
.gradientAnimation {
    background: linear-gradient(to right, var(--primary), var(--accent), #4154FF);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradientAnimation 7.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;

    @keyframes gradientAnimation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }
    }
}