// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-prophet), ui-sans-serif, sans-serif;
    color: var(--heading);
    line-height: 115%;
    margin: 0;
    padding: 0;
    text-wrap: balance;

    @media (width >=768px) and (width <1024px) {
        text-align: center;
    }

    @media (width >=1024px) {
        letter-spacing: -0.03em;
    }
}


h1 {
    font-size: clamp(2.5rem, 6vw, 6rem);
    line-height: 95%;
}

h2 {
    font-size: clamp(1.75rem, 4vw, 3.25rem);
    letter-spacing: -0.0075em;
    line-height: 102.5%;

    @media (width >=1024px) {
        letter-spacing: -0.02em;
    }
}

h3 {
    font-size: clamp(1.25rem, 2.5vw, 2.5rem);
}

h4 {
    font-size: clamp(1.1rem, 1.25vw, 1.25rem);
}

h5 {
    font-size: clamp(1rem, 1.15vw, 1.15rem);
}

h6 {
    font-size: clamp(0.875rem, 1vw, 1rem);
}

/*
* =============================================
* Text, lists, inputs, links
* ============================================= 
*/

small,
p,
ul,
ol {
    font-size: clamp(0.85rem, 0.9vw, 0.9rem);
    line-height: 175%;
    font-weight: 500;
    text-wrap: pretty;
    text-align: left;
    letter-spacing: -0.01em;

    @media (width >=768px) and (width <1024px) {
        text-align: center;
    }

    @media (width >=1024px) {
        letter-spacing: -0.02em;
    }
}

small {
    font-family: var(--text);
    text-transform: none;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;

    &:last-child {
        margin-bottom: 0;
    }

    a {
        padding-bottom: 0.125rem;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            bottom: -0.125rem;
            left: 0;
            width: 100%;
            height: 1.5px;
            background: var(--primary);
            transition: var(--ease);
        }

        &:hover {
            &::before {
                left: unset;
                right: 0;
                width: 0;
            }
        }
    }
}

ul {
    margin: 0;
}

// Eyebrows
.eyebrow {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.33rem;
    font-size: 0.66rem;
    border-radius: 5rem;
    border: 1px solid var(--border);
    width: max-content;
    padding: 0.25rem 0.5rem;

    @media (width >=768px) {
        justify-content: center;
        padding: 0.4rem 0.875rem;
    }

    @media (width >=1024px) {
        justify-content: flex-start;
    }
}