.banner {
    position: relative;
    overflow: hidden;
    padding-top: var(--mobileHeaderHeight);

    @media (width >=768px) {
        min-height: clamp(40rem, 100vh, calc(100vh - var(--headerHeight)));
        padding-top: var(--headerHeight);
    }

    .bannerContainer {
        position: relative;
        z-index: 1;
    }

    p {
        @media all {
            text-wrap: balance;
        }

        @media (width >=1280px) {
            font-size: 1.3rem;
        }
    }

    .bannerMask {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
}