@use "@/styles/init/mixins" as *;

.banner {
    padding-top: var(--mobileHeaderHeight);
    background-image: url("/images/backgrounds/banner/banner-gradient-background-noise.svg");
    background-size: cover;

    @media (width >=1024px) {
        padding-top: var(--headerHeight);
        overflow: visible;
        position: relative;
        background-size: contain;
    }

    .bannerContainer {
        @media (width >=1024px) {
            position: relative;
            margin: auto;
            width: max-content;
        }
    }

    .bannerContent {
        .bannerHeading {
            @media (width < 768px) {
                text-align: left;
                margin: unset;
                align-items: flex-start;
            }
        }
        @media (width >=1024px) {

            h1,
            p {
                max-width: 40rem;
                text-align: center;
            }
        }
    }
}