.banner {
    position: relative;
    overflow: hidden;
    padding-top: var(--mobileHeaderHeight);
    padding-bottom: var(--mobileHeaderHeight);

    @media (width >=1024px) {
        min-height: calc(80vh - var(--headerHeight));
        padding-top: var(--headerHeight);
        padding-bottom: var(--headerHeight);
    }

    @media (width >=1920px) {
        min-height: calc(85vh - var(--headerHeight));
    }

    .bannerContainer {
        position: relative;
        z-index: 1;
    }

    p {
        @media all {
            text-wrap: balance;
        }

        @media (width >=1280px) {
            font-size: 1.3rem;
        }
    }
}