.ctaSection {
    position: relative;
    overflow: hidden;
    min-height: 30rem;

    @media (width >=1024px) {
        min-height: 50rem;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, var(--background), transparent 50%);
        z-index: 2;
    }

    &::after {
        background: linear-gradient(to Top, var(--background), transparent 50%);
    }
}

.ctaContainer {
    position: relative;
    z-index: 10;
}

.flags {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
    position: relative;
    z-index: 10;

    @media (width >=768px) {
        gap: 0.5rem;
    }

    .flag {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.25rem;
        height: 2.25rem;
        padding: 0.15rem;
        border-radius: 50%;
        border: 1px solid var(--border);
        overflow: hidden;

        @media (width >=768px) {
            width: 2.75rem;
            height: 2.75rem;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.ctaContent {
    h2 {
        max-width: 20rem;

        @media (width >=1024px) {
            max-width: 35rem;
        }
    }

    p {
        max-width: 15rem;
        text-wrap: balance;

        @media (width >=1024px) {
            max-width: 30rem;
        }
    }
}

.vantaGlobe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 30rem;
    position: absolute;
    z-index: -1;
    inset: 0;
    margin: auto;

    @media (width >=768px) {
        min-height: 75vh;
        max-height: unset;
    }

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, var(--background) 50%, transparent);
        z-index: 1;

        @media (width >=768px) {
            background: linear-gradient(to right, var(--background) 33.33%, transparent 66.66%);
        }
    }
}