.splide {

    &.splideTrackNoOverflow {
        .splide__track {
            overflow: visible !important;
        }
    }

    &.hasPagination {
        .splide__pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            position: unset;
            margin: 3rem auto 0;
            padding-right: 0;
            padding-left: 0;

            button {
                width: 1.5rem;
                height: 0.4rem;
                border-radius: 1px;
                background: transparent;
                border: 1.5px solid var(--text);
                opacity: 1;
                padding: 0;
                margin: 0;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                transition: var(--ease);

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 0;
                    height: 100%;
                    border-radius: 0;
                    background: var(--text);
                    transition: var(--ease);
                }

                &.is-active,
                &:hover {
                    width: 2.5rem;

                    &::before {
                        left: 0;
                        right: unset;
                        width: 100%;
                    }
                }
            }
        }
    }

    &.paginationFlexStart {
        @media (width >=1024px) {
            .splide__pagination {
                justify-content: flex-start;
                margin-left: 0;
                padding-left: 0;
            }
        }
    }

    &.hasArrows {

        .splide__arrow {
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            background: rgba(var(--lightRgb), 0.75);
            backdrop-filter: blur(0.5rem);
            border: 1px solid var(--border);
            transition: var(--ease);
            z-index: 10;
            cursor: pointer;

            @media (width >=1024px) {
                display: flex;
            }

            @media (width >=1512px) {
                width: 4rem;
                height: 4rem;
            }

            svg {
                display: none;
            }

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                margin: auto;
                width: 50%;
                height: 50%;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/></svg>');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transition: var(--ease);
            }

            &:hover {
                background: rgba(var(--lightRgb), 0.9);

                &::after {
                    opacity: 1;
                }
            }

            &.splide__arrow--prev {
                left: 0;
                transform: scale(-1);
            }

            &.splide__arrow--next {
                right: 0;
                transform: none;
            }
        }
    }

    &.hasMobilePagination {
        .splide__track {
            padding-bottom: 3rem !important;
        }
    }
}

.sliderHasGradients {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient(to right, var(--lightAlt), transparent);
        width: 1.5rem;
        height: 100%;

        @media (width >=1024px) {
            width: 7.5rem;
        }
    }

    &::after {
        left: unset;
        right: 0;
        background: linear-gradient(to left, var(--lightAlt), transparent);
    }
}