@use "../../init/mixins" as *;
$formTransition: all .1s ease;

.form {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    width: 100%;
    background: var(--backgroundAlt);
    padding: 1.5rem;
    border-radius: var(--borderRadius);
    overflow: hidden;

    @media (width >=768px) {
        padding: 2rem;
    }

    @media (width >=1024px) {
        padding: 3rem;
    }
}

.formFields {
    display: flex;
    flex-flow: row wrap;
    gap: 1.25rem;
    width: 100%;
}

.formField {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;

    &.formFieldHalf {
        @media (width >=768px) {
            flex: 0 0 calc(50% - 0.625rem);
        }
    }

    &.formFieldCheckbox {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 0.5rem;

        input {
            width: auto;
            height: auto;
            padding: 0;
            margin: 0;
            border: none;
            background: none;
            border-radius: 0;
            cursor: pointer;
            transition: $formTransition;
        }

        a {
            color: var(--primary);
            text-decoration: underline;
            transition: $formTransition;

            &:hover {
                color: var(--primary);
            }
        }
    }

    label {
        font-family: var(--heading);
        color: var(--text);
        line-height: 1;
        font-weight: 500;
        letter-spacing: -0.01em;
        padding: 0;
        margin: 0;

        @media (width >=1024px) {
            font-size: 0.8rem;
        }
    }

    input:not([type="checkbox"]),
    textarea {
        font-family: var(--text);
        font-weight: 500;
        color: var(--text);
        background: var(--background);
        border: 1px solid var(--border);
        border-radius: calc(var(--borderRadius) / 2);
        padding: 0.75rem 1rem;
        min-height: 2.75rem;
        width: 100%;
        transition: $formTransition;

        &:active,
        &:focus {
            border-color: var(--primary);
        }
    }

    textarea {
        min-height: 6rem;
    }
}

.formFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        position: absolute;
        z-index: 10;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
    }
}

// Policy Checkbox
.formFieldPolicy {
    justify-content: center;
    text-align: center;
    width: max-content;
    margin: 0 auto;
}

// Custom Checkbox
.formFieldCheckbox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 0.5rem;
    position: relative;

    .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1rem;
        height: 1rem;
        position: relative;
        overflow: hidden;

        input {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            opacity: 0;
        }
    }

    .checkboxLabel {
        cursor: pointer;
    }

    .customCheckbox {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.05rem;
        height: 1.05rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        border: 1px solid var(--border);
        border-radius: 0.2rem;
        cursor: pointer;
        transition: $formTransition;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        svg {
            position: absolute;
            z-index: 1;
            inset: 0;
            margin: auto;
            width: 90%;
            height: 90%;
            opacity: 0;
            scale: 0;
            transition: $formTransition;
        }
    }

    &.checked {
        .customCheckbox {
            border-color: var(--primary);
            color: var(--primary);

            svg {
                opacity: 1;
                scale: 1;
            }
        }
    }
}

.required {
    color: var(--primary);
    margin-left: 0.15rem;
    font-weight: 700;

    &::before {
        content: '*';
    }
}